@import url('normalize-min.css');

html * {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

#wrapper {
  margin: 0 1rem;
}

main li{
  margin-bottom: 1rem;
}

h1 {
  color: #333333;
}

h2 {
  color: #346679;
}

h3 {
  color: #5f6060;
}

h4 {
  color: #346679;
}

h5 {
  color: #5f6060;
}

a {
  color: #2d5d94;
  border-bottom: 2px solid #2d5d94;
}

a:hover {
  color: #279f61;
  border-bottom: 2px solid #279f61;
}

a:visited {
  color: #279f61;
  border-bottom: 2px solid #279f61;
}

#footer {
  color: #e2e2e2;
  background-color: #0b384a;
}


/********************************************
    FEATURES STYLING
*********************************************/


/* Callout box */

.callout {
  color: #2d5d94;
  background: #e3ded1;
  display: block;
  margin: 15px auto;
  width: 90%;
  padding: 10px;
  border: 1px solid #000;
}

.no-left {
  margin-left: 0;
}


/* Drop downs */

.drop-down {
  background: #225c72;
}

.drop-down:hover {
  background: #1f4a5a;
}


/* Rubric table */


/* Column headings */

.rubric tr:first-child th {
  background-color: #225c72;
}


/* Row headings */

.rubric th {
  background-color: #16985e;
}


/* Mouseover popups */

#main .popup {
  border-bottom: dotted 2px #225c72;
}

#main .popup span {
  background: #225c72;
  box-shadow: 5px 5px 5px #0F0F0F;
}

#main .popup:after {
  border-color: #225c72 transparent transparent transparent;
}


/*Specific Styles to CSE 340*/

#gradetable {
  width: 50%;
  min-width: 320px;
}

#gradetable th {
  font-weight: bold;
  text-align: center;
}

main dl dd {
  padding-left: 1em;
}

footer {
  background-color: #f0f0f0;
}

img,
video {
  max-width: 100%;
  height: auto;
}

mark {
  background-color: yellow;
}

/***********************************
* YouTube Videos
***********************************/
iframe {
  width: 98vw;
  height: 59vw;
}

/***********************************
* Non-mobile Screens
***********************************/

@media screen and (min-width: 680px) {

  body {
    font-size: 2vw;
  }

  #wrapper {
    max-width: 1300px;
    padding: 0 1rem;
  }

  iframe {
    width: 50vw;
    height: 29vw;
  }
}