<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>PHP Arrays | Web Backend Development I</title>
 <meta name="description" content="An overview of PHP arrays for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
    <h1>PHP Arrays</h1>
    <p>An array is simply a variable that contains more than one value. Each value in an array is referred to as an "<b>element</b>". And, PHP keeps track of each value in the element using a "key" (sound familiar?)</p>
    <h2>Array Types</h2>
    <p>PHP has three types of arrays:</p>
    <ol>
     <li>Numeric (or indexed) array
      <p>A numeric array uses numbers (starting with zero) as the keys for each element's value.</p>
     </li>
     <li>Associative array
      <p>An associative array uses strings as the keys for each element's value.</p>
     </li>
     <li>Multi-dimensional array
      <p>A multi-dimensional array is literally an array of arrays.</p>
     </li>
    </ol>
    <h2>Examples</h2>
    <p>The video and PDF slideshow below will overlap in some respects, but each will show examples of all three types of PHP arrays and how to work with them.</p>
    <h2>Video Presentation</h2>
    <iframe width="560" height="315" src="//www.youtube.com/embed/-xiNx6ZMwr0" allowfullscreen></iframe>
    <h2>Array Slideshow</h2>
    <p>The slideshow is a PDF file that discusses the types of PHP arrays.</p>
    <p class="callout" style="font-size: 2em;"><a href="../downloads/arrays.pdf" title="Opens in a new tab" target="_blank">View the Array Slide Show</a></p>

    <h2>Reference</h2>
    <ul>

     <li><a href="//php.net/manual/en/function.array.php" title="Click to open in a new tab" target="_blank">PHP Array function</a></li>
     <li><a href="//php.net/manual/en/language.types.array.php" title="Click to open in a new tab" target="_blank">PHP Array types</a></li>
     <li><a href="//php.net/manual/en/control-structures.foreach.php" title="Click to open in a new tab" target="_blank">PHP Foreach loop</a></li>
    </ul>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
</body>

</html>
