<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Cleaning the HTDOCS folder | Web Backend Development I</title>
 <meta name="description" content="Cleaning the HTDOCS folder in XAMPP for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
    <h1>Cleaning Up the HTDOCS folder</h1>
    <p>When XAMPP was installed you were asked to go to the htdocs folder (on Mac: Applications &gt; XAMPP &gt; htdocs, on Windows: C: &gt; xampp &gt; htdocs) where you were told you would develop your website. The htdocs folder is the "root" of your website on your local machine. When XAMPP is started, you can access the contents of the local htdocs folder by typing "http://localhost" into the address bar of your browser.</p>

    <p>However, there are already a number of folders and files in the htdocs folder that we want to clean up. It is very important that we don't just delete these, rather we will do some tidying to make things work without interfering with what we want to do. Let's get started!</p>

    <ol>
     <li>Go to the htdocs folder on your machine.</li>
     <li>Delete the webalizer folder (it should be empty), the favicon.ico and index.php files.</li>
     <li>Move all of the other files (applications.html, bitnami.css and the img folder) inside of the dashboard folder.
      <ol>
       <li>In windows you will also have a xampp folder inside of the htdocs folder, move it to the dashboard folder too.</li>
      </ol>
     </li>
     <li>When done, your htdocs folder should look like the picture below:
      <p>
       <img src="/340br/images/htdocs_clean/cleanupwindow.jpg" alt="htdocs folder view" title="htdocs folder view">
      </p>
     </li>
     <li>Start XAMPP and start the Apache server.</li>
     <li>Launch the admin page by clicking the "Admin" button next to Apache in the Windows control panel or the "Go to Application" button in the Mac application manager.</li>
     <li>When the browser opens you should see something rather dull as shown below:
    <p><img src="/340br/images/htdocs_clean/cleanupbrowser.jpg" alt="Browser directory listing" title="Browser directory listing"></p>
     </li>
     <li>Click the dashboard folder link.</li>
     <li>You should now see something like what you saw when you installed and tested XAMPP originally (the version number may not match that shown in the image).
     <p><img src="/340br/images/htdocs_clean/xamppbrowsersplash.jpg" alt="XAMPP splash page" title="XAMPP splash page"></p></li>
     <li>This is what we want, the functionality remains, but it is all in the dashboard folder.</li>
     <li>From now on, when you want to get to the XAMPP control page you will make sure the Apache server is running and type "http://localhost/dashboard" into the address bar. You will be directed to the dashboard tools!</li>
    </ol>

    <p>With the htdocs folder cleaned up you can now add your own content as needed.</p>

    <h2>Video Version</h2>
    <iframe src="//www.youtube.com/embed/VsqzzFcfFiw" width="420" height="315" allowfullscreen></iframe>

  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
</body>
</html>
