<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Frontend Checklist | Web Backend Development I</title>
  <meta name="description" content="A checklist to follow for frontend development in CSE 340">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
  <style>
    ol {
      list-style: none;
    }

    .checkbox {
      font-size: 1.5rem;
    }
  </style>
</head>

<body>
  <div id="wrapper">
    <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner"></header>
    <main>
      <h1>Frontend Checklist</h1>
      <p>For CSE 340, we will use this checklist for each view you develop, as it reinforces "Best Practice" and is also
        part of the grading of each view (web page).</p>

      <h2>The Checklist</h2>
      <ol>
        <li>The view is fully operational. All content renders in the browser without broken links, images, or other
          content abnormalities.</li>
        <li><span class="checkbox">☐</span> The view uses <a href="https://youtu.be/_vZScP03IuQ"
            title="Open the video in a new tab" target="_blank">valid HTML and valid CSS</a> (HTML version 5 and CSS
          version 3 are the default expectations).
        </li>
        <li><span class="checkbox">☐</span> All CSS is of your own creation. No outside frameworks or libraries are
          allowed.</li>
        <li><span class="checkbox">☐</span> All CSS, HTML and JavaScript are in separate files.</li>
        <li><span class="checkbox">☐</span> The view headings form an outline with no heading levels being skipped.
        </li>
        <li><span class="checkbox">☐</span> The total <a
            href="https://wp-rocket.me/blog/best-practice-guide-reducing-website-page-weight/"
            title="Open the page weight resource in a new tab" target="_blank">download weight</a>
          of all resources in the view is less than 500kb.</li>

        <li><span class="checkbox">☐</span> The view is <a href="https://www.w3schools.com/html/html_responsive.asp"
            title="Open responsive design in a new tab" target="_blank">responsive</a> and renders
          correctly on all device screens.</li>
        <li><span class="checkbox">☐</span> The view uses the available screen real estate on all screen sizes without
          large blank areas.</li>
        <li><span class="checkbox">☐</span> The content of the view is readable, without zooming and without horizontal
          scrolling, on mobile screens.
        </li>
        <li><span class="checkbox">☐</span> The <a
            href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title"
            title="Open the title element resource in a new tab" target="_blank">&lt;title&gt; element</a> contains a
          reference to the content of the page (similar to or matching the
          &lt;h1&gt; value), followed by a separator and the site name (e.g. Frontend Checklist | Web Backend
          Development 1).</li>
        <li><span class="checkbox">☐</span> The view passes <a href="https://wave.webaim.org/"
            title="Open the WAVE site in a new tab" target="_blank">WAVE validation</a> with no error or contrast error.
        </li>
      </ol>

    </main>
    <footer>
      <img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png">
      All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license"
        href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative
        Commons Attribution-ShareAlike 3.0 License</a>.</footer>
  </div>
</body>

</html>