<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Modularizing Common Content | Web Backend Development I</title>
 <meta name="description" content="Modularization of common content demonstrated for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/340course.min.css" media="screen">
 <link rel="stylesheet" href="../css/prism-coy-dev.min.css" media="screen">
</head>

<body>
 <div id="main">
  <header id="header"><img src="../images/bs_small_banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
   <article id="article">
    <h1>Modularization</h1>
    <h2>Introduction</h2>
    <p>Have you ever noticed that when you visit a website and move from page to page that there are certain areas on the page that don't change. To see what I mean let's visit subway.com (<a href="//subway.com" title="Refer to the Subway corporate site" target="_blank">http://subway.com</a>). Click around in the subway site. On each page scroll up and down and look for those parts of each page that don't really change. What did you find? If you said the top (header) and bottom (footer) you are very observant. These common parts are highlighted in figure 1:</p>
    <figure><img src="../images/modular/subway.jpg" alt="Screenshot of Subway Home Page with header and footer circled" title="Screenshot of Subway Home Page">
     <figcaption>Figure 1: Common parts of subway.com pages that don't change</figcaption>
    </figure>
    <h2>Benefits</h2>
    <p>It is these common parts of a web page that can be reused. We call snippets of code that make up these reusable sections of the web page "modules" and the process of implementing them into the page "modularization". The benefits of modularizing our websites is to:</p>
    <ul>
     <li><b>Save time</b>&nbsp;- when we build modules of common code we only have to do it once. This means less time writing the same code again and again.</li>
     <li><b>Easy maintenance</b>&nbsp;- By having this common code stored off in a module, when it comes time to make a change to existing code, add new code or delete code, we only have to do it once for it to take effect throughout all the pages that use it.</li>
     <li><b>Save Money</b>&nbsp;- whether you're building a web site for yourself or someone else, the less time you have to spend building and maintaining it means less time and expense doing so. In business terms, it is being efficient.</li>
    </ul>

    <h2>Code Snippets</h2>
    <p>You may be inclined to ask, <i>"What exactly is a module or code snippet?"</i> The answer is, <b>"A small amount of code, not stand-alone, that can be plugged-in to a larger collection of code in order to carry out or serve a particular task"</b>. Going back to Subway.com's header, you will notice that on the left is the logo, in the top right corner is a link to their international web site, to the left of the link are various tools, and at the bottom of the header is the main navigation bar. If you were to look at the source code for any of the pages you would find that the code used to build the header is about 100 lines long (alot of that is for the drop-down menus). But if you were to copy that code and paste it on a page of its own, it would look pretty strange. It is not meant to be used in that way, it is meant to be used at the top of each web page to add specific functionality to the page as a whole.</p>
    <p>A simplified header example might lead us to create a code snippet that looks like this:</p>
    <pre class="line-numbers"><code class="language-php">&lt;a href="/" title="Go to the subway.com home page"&gt;<br>
 &nbsp; &lt;img src="/images/subway-logo.jpeg" alt="subway.com logo"&gt;<br>
&lt;/a&gt;<br>
&lt;div id="tools"&gt; ... tools (e.g. search) go here ... &lt;/div&gt;<br>
&lt;nav id="page_nav"&gt;<br>
&nbsp; &nbsp; &lt;ul&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/sandwiches"&gt;Sandwiches&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/ingredients"&gt;Ingredients&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/catering"&gt;Catering&lt;/a&gt;&lt;li&gt;
<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/nutrition"&gt;Nutrition&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/locations"&gt;Locations&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/careers"&gt;Careers&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/about"&gt;About Subway&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &lt;/ul&gt;<br>
&lt;/nav&gt;</code></pre>
    <p>This code would be saved into a new text file, nothing else in the file except this code and given an appropriate name (e.g. header.php). The header.php file would be stored in a folder with other common, reusable snippets, so the storage folder could be named "common" or something similar.</p>
    <h2>Implementing the Snippets</h2>
    <p>Having planned out and constructed the individual code snippets its now time to put them into effect. In our example we will be using a server-side scripting language called "<abbr title="Pre-Hypertext Processing">PHP</abbr>". Remember that the snippet is "plugged-in" to a larger collection of code. In our case that larger collection of code would be the &lt;header&gt; of a web page. To keep things simple only the header is shown, but it would be preceded by the opening code of the web page and followed by the content and other portions of the page. See the example code segment under <strong><a href="#result" title="See the result">The Result</a></strong> below.</p>
    <figure class="callout no-left">
     <pre class="line-numbers"><code class="language-php">&lt;header id="page_header"&gt;
 &lt;?php include $_SERVER['DOCUMENT_ROOT'] . '/acme/common/header.php'; ?&gt; 
&lt;/header&gt;</code></pre>
     <figcaption>Figure 3: A server-side include to implement the code snippet to a web page.</figcaption>
    </figure>
    <p>An explanation of the code:</p>
    <ul>
     <li><span><b>&lt;?php ?&gt;</b>&nbsp;- this a PHP code block. By creating it and placing the PHP code within it, the server knows that the PHP must be executed before the web page can be returned to the browser.</span></li>
     <li><b>include</b>&nbsp;- this is a PHP function that follows the path to a code snippet (the module) in order to draw it in and make it a part of the larger code collection at the point where the include function is written.</li>
     <li><b>$_SERVER['DOCUMENT_ROOT']</b>&nbsp;- this is a PHP "Super Global" object and its method that instructs the server to provide a path from the root of the server's hard drive all the way to the root of the current website. Some web hosts do not require that you use this in order to make modules work, but it doesn't hurt to have it.</li>
     <li><b>.(period)</b>&nbsp;- a php concatenation symbol. In short, it takes the group of characters on the left (provided by $_SERVER['DOCUMENT_ROOT']) and joins them to the group of characters on the right ('/common/header.php').</li>
     <li><b>'/acme/common/header.php'</b>&nbsp;- this is the path from the root of the website to the code snippet (module) to be included. Please notice the single quote marks on either side. The single quotes mark this collection of characters as a "string". This is programming terminology for a collection of alpha-numeric characters. <b>Note! If the common folder were not at the site root, but in a folder, the folder name would have to preceed it in the path (e.g. '/folder-name/common/header.php'</b>.</li>
     <li>When placed together, everything to the right of the word "include" is a path (an absolute path if you want to be technical) that tells the server exactly where to find the file that is to be included at this location.</li>
    </ul>

    <p><b>Note!</b>&nbsp;The web page where this PHP include is written, would itself have to have a .php extension. Say, for example, the web page were named "home", then it would have to be "home.php". It could not have any other extension if we want the include to work.</p>
    <h2 id="result">The Result</h2>
    <p>Since PHP is run on the server, here is how all of this code would work. Someone would see a link to home.php and click it. When the server got the request for home.php it would see the .php extension and ask the PHP engine to process it. The PHP engine would begin reading the code in the page looking for a PHP code block - &lt;?php ... ?&gt;. When it found one, it begins to execute the various commands inside of it. In our case, it would attempt to find the code snippet in the "common" folder and include it in the &lt;header&gt;. Assuming that everything worked as it was supposed to, the header would look like this when the PHP engine was done:</p>
<pre class="line-numbers"><code class="language-markup">&lt;header id="page_header"&gt;<br>
&nbsp;&lt;a href="/" title="Go to the subway.com home page"&gt;<br>
&nbsp;&nbsp; &lt;img src="/images/subway-logo.jpeg" alt="subway.com logo"&gt;<br>
&nbsp;&lt;/a&gt;<br>
&nbsp;&lt;div id="tools"&gt; ... tools (e.g. search) go here ... &lt;/div&gt;<br>
&nbsp;&lt;nav id="page_nav"&gt;<br>
&nbsp; &nbsp; &lt;ul&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/sandwiches"&gt;Sandwiches&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/ingredients"&gt;Ingredients&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/catering"&gt;Catering&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/nutrition"&gt;Nutrition&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/locations"&gt;Locations&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/careers"&gt;Careers&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &nbsp;&lt;li&gt;&lt;a href="/about"&gt;About Subway&lt;/a&gt;&lt;li&gt;<br>
&nbsp; &nbsp; &lt;/ul&gt;<br>
&lt;/nav&gt;<br>
&lt;/header&gt;</code></pre>
    <p>What is neat about using this technique, besides those mentioned earlier, is that when the server delivers home.php back to the requesting web browser is that there is no sign left of any of the PHP code block or any of the code inside of it. All that is left is the finished product. Think of it like ordering a sandwich at a restaurant. You order the sandwich and that is what is delivered to you. You don't see the preparation of it, the freezers where things are stored, the cutting board or utensils used to create it.</p>
    <h2>Make a Change</h2>
    <p>Reflect back on the list of benefits of modularization. Let's suppose that the folks at Subway decide to make soup a big part of their menu. Wow, we need to update that list of items in the navigation list. No problem. You open the header.php file and add the following code to the unordered list:</p>
    <code class="callout no-left">
     <i>&lt;li&gt;&lt;a href="/soup"&gt;Soups&lt;/a&gt;&lt;/li&gt;</i></code>
    <p>Save the file and upload it to your website. Viola! You now have a soup navigation menu throughout your website - even if the site had 10,000 pages. Pretty Cool, huh?!</p>
    <h2>Summary</h2>
    <p>Modularization is a great technique for writing and storing small collections of code that represent reusable portions of a website into external files. Those files are then included using PHP or some other scripting language. The resulting file is then delivered to the requesting user-agent (usually a web browser) in its finished form, leaving no evidence of the scripting language. The key is to use modules with those portions of a webpage that stay the same from page to page to page. Using this technique saves time in both construction and maintenance and money.</p>
    <h2>Application</h2>
    <p>As you prepare to build web pages, it is helpful to build template(s). A template is simply a standard page (without content) that can be reused when a new content page is needed. The template(s) should include semantic structures with modularized common content as discussed in this activity. Use the steps outlined in this activity while building your template, and the views that will be built using the template.</p>
    <h2>Video Demonstration</h2>
    <p>The video below is only a demonstration of the concepts discussed in this activity, it is not a tutorial to be followed precisely.</p>
    <iframe allowfullscreen height="375" src="//www.youtube.com/embed/38CE_kmCLzM?feature=oembed&amp;wmode=opaque" width="500"></iframe>

   </article>
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
 <script src="../js/prism-coy-dev.min.js"></script>
</body>

</html>
