<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Password Hashing | Web Backend Development I</title>
 <meta name="description" content="This activity discusses password hashing for the acme project of CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course.css" media="screen">
 <link rel="stylesheet" href="/340br/css/prism-coy-dev.min.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header">
   <img src="/340br/340banner.jpg" alt="CSE 340 Banner Image">
  </header>
  <main>
    <h1>Password Hashing</h1>

    <h2>Introduction</h2>
    <p>It is not uncommon to read a story about a company's database being "hacked" and 100,000 user accounts being stolen. Oftentime, the usernames and passwords of those stolen accounts end up being published on the Internet. What is very embarrassing is when the passwords that were stolen were "plain text". Just as the ones in our "clients" table are right now.</p>

    <p>The solution to our embarrassment is to alter the password from "plain text" to a "hash". Without getting too "geeky" on you a "hash" is a one-way transformation (it cannot be reversed - we hope) of a plain text password into a jumble of characters that don't mean anything if read by a human.</p>

    <h2>Video Demonstration</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GOkveaVbPwQ" allowfullscreen></iframe>

    <h2>Password Hashing</h2>
    <p>As of PHP version 5.5 there is an easy way to create a hash from a plain text string, let's use it now.</p>

    <ol>
     <li>Open the <b>accounts</b> controller.</li>
     <li>Scroll down into the registration process and find the line where the data is being sent into the model's function. My code looks like this:
      <pre><code class="language-php">// Send the data to the model
$regOutcome = regClient($clientFirstname, $clientLastname, $clientEmail, $clientPassword);</code></pre>
     </li>
     <li>Create two blank lines <b>above this code.</b>
     </li>
     <li>Add the following code to the new lines:
      <pre><code class="language-php">// Hash the checked password
$hashedPassword = password_hash($clientPassword, PASSWORD_DEFAULT);</code></pre>
     </li>
     <li>Then, replace the previous <b>$clientPassword</b> variable in the <b>regClient</b> function, with the new <b>$hashedPassword</b> variable.</li>
     <li>When done the code blocks should look similar to this:
      <pre><code class="language-php">// Hash the checked password
$hashedPassword = password_hash($clientPassword, PASSWORD_DEFAULT);

// Send the data to the model
$regOutcome = regClient($clientFirstname, $clientLastname, $clientEmail, $hashedPassword);</code></pre>
     </li>
    </ol>
    <h3>An Explanation</h3>
    <ul>
     <li>By placing the hash code after the validation section of our registration process we know that the password stored in the <code>$clientPassword</code> variable meets all of our requirements.</li>
     <li>The assignment operator works from right to left. This means that our plain password is sent to the <code>password_hash()</code> function, is hashed and the hash is returned and stored into a <code>$hashedPassword</code> variable.</li>
     <li>The <code>password_hash()</code> function can be given multiple parameters (directions) to change the way it performs the hash. The recommended parameter (direction) is <code>PASSWORD_DEFAULT</code>.</li>
     <li>According to PHP.net, the password_hash function is designed to be updated over time and will get stronger and stronger. Right now, the hash is created using a "bcrypt" method and returns a hash that is around 70 characters long, but over time will grow to around 200+ characters. (Note: That is why our password field in the clients table is 255 characters in size).</li>
     <li>Finally, the now hashed password is sent to the database for storage and should no longer be human readable (actually you can read it, but it shouldn't make sense).</li>
    </ul>

    <h2>Test it Out</h2>
    <ol>
     <li>Check the code to see that there are no errors and save the <b>accounts</b> controller.</li>
     <li>Run the phpmotors web site and navigate to the registration view.</li>
     <li>Register a new site visitor.</li>
     <li>Open your phpmotors database in the PHPMyAdmin tool.</li>
     <li>View the records stored in the <b>clients</b> table.</li>
     <li>If things worked correctly the password should now be a long string of characters and symbols and no longer be a plain text password.</li>
     <li>If it didn't work, review the code for errors. Check variable names to make sure they match. Ask a classmate. Ask the TA, lab assistant or professor for help.</li>
    </ol>


    <h2>Summary</h2>
    <p>As has been stated before, "This is not a security class, but we want to use secure methods with our code." By hashing passwords, we increase the security of the passwords that are stored in the database. This makes it much more difficult to know what passwords are and thus, they are more secure.</p>

    <h2>References</h2>
    <ul>
     <li><a href="//php.net/manual/en/function.password-hash.php" title="Opens in a new tab"
       target="_blank">password_hash() function</a> </li>
    </ul>

  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/340br/js/prism-coy-dev.min.js"></script>
</body>

</html>