<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Install PHP Manual Search | Web Backend Development I</title>
 <meta name="description" content="PHP Manual Search plug-in for NetBeans installation directions for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
   
    <h1>Install PHP Manual Search</h1>
    <p>NetBeans has a wide variety of plugins available to add to the software to give it additional functionality. Most of these can be added via the Plugins dialog box found in the NetBeans Tools menu.</p>

    <p>However, from time to time some plugins will disappear from the normal plugin repository but can still be found and added manually. This is one of those situations.</p>

    <h2>Directions</h2>
    <ol>
     <li>Find the plugin on the NetBeans.org site - <a href="//plugins.netbeans.org/plugin/21086/php-manual-search" target="_blank" title="Download the plugin for NetBeans">http://plugins.netbeans.org/plugin/21086/php-manual-search</a></li>
     <li>Download the plugin by clicking the "Download" button</li>
     <li>Launch NetBeans</li>
     <li>Go to the "Tools" menu and select the "Plugins" option</li>
     <li>Click the "Downloaded" tab</li>
     <li>Click the "Add Plugins..." button in the top-left corner</li>
     <li>Search for the downloaded plugin, typically this will be in your downloads folder
      <ul>
       <li>At the time of this writing the name of the plugin is <b>1395791666_it-sal-phpmanual.nbm</b></li>
      </ul>
     </li>
     <li>Select the file and click "Open"</li>
     <li>The plugin will appear in the left-side panel.</li>
     <li>Click the checkbox to the left of its name.</li>
     <li>Click the "Install" button in the bottom-left corner.</li>
     <li>Accept the license agreement and click the affirmative answers until the installation is complete.</li>
     <li>Close the Plugins dialog box.</li>
    </ol>

    <h2>Use</h2>
    <p>When the plugin is installed a new icon will appear in NetBeans, a blue oval with PHP inside. This button takes you directly to PHP.net and to the documentation of any PHP function that is currently selected by the cursor or the cursor is within.</p>

    <p>The php.net documentation is the official documentation for all PHP code. By using this tool you can learn about PHP from the official source. It is very useful.</p>

    <h2>Video</h2>
    <iframe src="//www.youtube.com/embed/0r2Leyj_QFc" allowfullscreen></iframe>
   
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.js"></script>
</body>

</html>
