<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Download Text Materials | Web Backend Development I</title>
 <meta name="description" content="Download the zip file of materials for the Murach text for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
   
    <h1>Download Text Materials</h1>
    <h2>Download</h2>
    <ol>
     <li><a href="../downloads/murach_files.zip" title="Download the zip file">Download the zip file containing the chapter and exercise files</a> for the text.</li>
     <li>Unzip the downloaded file.</li>
    </ol>

    <h2>Contents</h2>
    <p>The unzipped folder should be named "murach_files".</p>
    <p>Open the folder. There should be 3 sub-folders:</p>
    <ul>
     <li>book_apps — Contains the files and code found in the book chapters.</li>
     <li>ex_starts — Contains the starting files for the end of chapter exercises.</li>
     <li>ex_solutions — Contains the solutions to the end of chapter exercises.</li>
    </ul>

    <h2>Copy to htdocs</h2>
    <p>In setting up the tools for the course you should have an "htdocs" folder inside the XAMPP folder on your computer. This local environment is the perfect location to place files in order to do the chapter work, exercises and enhancements.</p>

    <p>As you need you can open and work with these files to follow along with code examples shown in the Murach text. By placing the <b>murach_text</b> folder within the htdocs folder, all you have to do is open NetBeans, find the file to work with, open it and begin working.</p>
   
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
