<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Update Vehicle Information (Step 1) | Web Backend Development I</title>
	<meta name="description"
		content="The update process for vehicle information is began in this activity where the data to be updated is selected and displayed so the update can occur in the PHP Motors project for CSE 340">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="/340br/css/340course.css" media="screen">
	<link rel="stylesheet" href="/340br/css/prism-coy-dev.min.css" type="text/css" media="screen">
</head>

<body>
	<div id="wrapper">
		<header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
		<main>
			<h1>Update Vehicle Information (Step 1)</h1>
			<h2>Updating is a Two Step Process</h2>
			<p>An update requires two steps: 1) Once it is determined an update is occurring, the information to be changed has to be requested from the database and made available to be edited; 2) When the edit is completed, the data must then be stored back into the database and the user informed of the success or failure of the change. This document covers step 1: getting the data from the database and displaying it for the change to occur.</p>

			<h2>Video Demonstration</h2>
			<p>This video demonstrates step 1 in the update process: getting and displaying the data to be updated.
			</p>
			<iframe src="https://www.youtube.com/embed/LiFlJDAyvQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

			<h2>Request Data to be Changed</h2>
			<p>In the "Select Vehicles" activity the make, model and id of each vehicle was queried from the database and used to build a table where the vehicle make and model were displayed and links to begin the modify (update) and delete processes were provided. When the "Modify" link is clicked, the URL is directed to the <b>vehicle</b> controller and sends the two name - value pairs as part of the <b>GET</b> request. The first name - value pair indicates that the update process has begun (refer to #1 in the previous paragraph). The second name - value pair indicates which vehicle we wish to modify. Let's get started:</p>
			<h3>The Vehicle Controller</h3>
			<p>As with previous interaction processes in the controller we will start by adding an additional "case" to the control structure based on the first of our name - value pairs.</p>
			<ol>
				<li>Open the <b>vehicle</b> controller.</li>
				<li>Scroll down and add an additional case statement (prior to the default case) to the control structure based on the value being passed through the "Modify" link in the <b> Vehicle Management</b> view:
<pre class="line-numbers"><code class="language-php">case 'mod':
            
break;</code></pre>
				</li>
				<li>Within this case block we need to capture the value of the second name - value pair (remember that this is coming from a link, therefore it is a <b>GET</b> request:
<pre class="line-numbers"><code class="language-php">case 'mod':
&nbsp;$invId = filter_input(INPUT_GET, 'id', FILTER_VALIDATE_INT);
break;</code></pre>
				</li>
				<li>Next we will send the <code>$invId</code> variable into a function (that we will write in a minute) that will get the information for that single vehicle:
<pre class="line-numbers"><code class="language-php">case 'mod':
&nbsp;$invId = filter_input(INPUT_GET, 'id', FILTER_VALIDATE_INT);
$invInfo = getInvItemInfo($invId);
break;</code></pre>
				</li>
				<li>Next we will check to see if <code>$invInfo</code> has any data. If not, we will set an error message:
<pre class="line-numbers"><code class="language-php">case 'mod':
&nbsp;$invId = filter_input(INPUT_GET, 'id', FILTER_VALIDATE_INT);
&nbsp;$invInfo = getInvItemInfo($invId);
&nbsp;if(count($invInfo)<1){
&nbsp;&nbsp;$message = 'Sorry, no vehicle information could be found.';
&nbsp;}
break;</code></pre>
				</li>
				<li>Finally we will call a view where the data can be displayed so that the changes can be made to the data:
<pre class="line-numbers"><code class="language-php">case 'mod':
&nbsp;$invId = filter_input(INPUT_GET, 'id', FILTER_VALIDATE_INT);
&nbsp;$invInfo = getInvItemInfo($invId);
&nbsp;if(count($invInfo)<1){
&nbsp;&nbsp;$message = 'Sorry, no vehicle information could be found.';
&nbsp;}
&nbsp;include '../view/vehicle-update.php';
&nbsp;exit;
break;</code></pre>
				</li>
			</ol>
			<h3>The Vehicles Model</h3>
			<p>In the controller code you just wrote we called a function <code>getInvItemInfo($invId)</code> to query the data from the database. Let's write that now:</p>
			<ol>
				<li>Find and open the <b>vehicles model</b>.</li>
				<li>Scroll down until you are below the existing functions.</li>
				<li>Add a new comment indicating that you are selecting a single vehicle based on its id</li>
				<li>Below the comment add this function (your connection function may be named differently):
					<pre class="line-numbers"><code class="language-sql">// Get vehicle information by invId
function getInvItemInfo($invId){
&nbsp;$db = phpmotorsConnect();
&nbsp;$sql = 'SELECT * FROM inventory WHERE invId = :invId';
&nbsp;$stmt = $db->prepare($sql);
&nbsp;$stmt->bindValue(':invId', $invId, PDO::PARAM_INT);
&nbsp;$stmt->execute();
&nbsp;$invInfo = $stmt->fetch(PDO::FETCH_ASSOC);
&nbsp;$stmt->closeCursor();
&nbsp;return $invInfo;
}</code></pre>
					<h4>An Explanation</h4>
					<p>By now you should be somewhat familiar with everything you see in the function, but let me reinforce several items:</p>
					<ul>
						<li>The asterisk <code>*</code> means "everything" in SQL. We want all of the data for the vehicle.</li>
						<li>The <code>bindValue</code> method should be treated as an Integer, which it should be and the flag <code>PDO::PARAM_INT</code> specifies.</li>
						<li>We are requesting an associative array of data, meaning that the database table field names are used as the "name" with the elements in the array of values.</li>
					</ul>
				</li>
				<li>Save the file.</li>
			</ol>
			<h3>Vehicle Update View</h3>
			<p>This view has to do double duty, 1) display the data from the database to allow it to be modified prior to storing it back into the database, and 2) be able to handle errors upon submission just as we did when inserting the data for the new vehicle. Because some of that work is already done in the <b>add vehicle</b> view, we will capitalize by duplicating that view and then making some changes.</p>
			<ol>
				<li>Find and open the <b>add vehicle</b> view.</li>
				<li>Do a "Save As..." and save the view into the <b>view</b> folder, but change the name to <b>vehicle-update.php</b>.</li>
				<li>Scroll down to the <code>Title</code> element and add the following code block between the opening and closing title tags:
<pre class="line-numbers"><code class="language-php">&lt;?php if(isset($invInfo['invMake']) && isset($invInfo['invModel'])){ 
		echo "Modify $invInfo[invMake] $invInfo[invModel]";} 
	elseif(isset($invMake) && isset($invModel)) { 
		echo "Modify $invMake $invModel"; }?&gt;</code></pre>
				</li>
				<li>When you're done the title could look like this:
<pre class="line-numbers"><code class="language-php">&lt;title&gt;&lt;?php if(isset($invInfo['invMake']) && isset($invInfo['invModel'])){ 
	 echo "Modify $invInfo[invMake] $invInfo[invModel]";} 
	elseif(isset($invMake) && isset($invModel))) { 
		echo "Modify $invMake $invModel"; }?&gt; | PHP Motors&lt;/title&gt;</code></pre>
 When the page loads, the vehicle make and model will appear in the title tab of the browser. Or, if	the page is returned for error correction the vehicle name will reappear from the vehicle	variable.
				</li>
				<li>Scroll down and find the main content heading. Add the same PHP code block to it. It could look	something like this:
<pre class="line-numbers"><code class="language-php">&lt;h1&gt;&lt;?php if(isset($invInfo['invMake']) && isset($invInfo['invModel']))){ 
	echo "Modify $invInfo[invMake] $invInfo[invModel]";} 
elseif(isset($invMake) && isset($invModel)) { 
	echo "Modify$invMake $invModel"; }?&gt;&lt;/h1&gt;</code></pre>
 By making these subtle changes we are personalizing the view's contents.
				</li>
				<li>Look for any instructions that may exist indicating that you are "adding" a new vehicle. Delete all references to "adding" and replace them with "modifying".</li>
				<li>Scroll down into the form and find the hidden input that contains the "action" name - value pair. Change the value to "updateVehicle". When done it could look something like this:
					<pre><code class="language-php">&lt;input type="hidden" name="action" value="updateVehicle"&gt;</code></pre>
				</li>
				<li>Find the "submit" input and change its value to reflect that an Update is happening. When done it could look like this:
					<pre><code class="language-php">&lt;input type="submit" name="submit" value="Update Vehicle"&gt;</code></pre>
				</li>
				<li>Now we have to alter the PHP code blocks for each input. What we want to do is test if the value exists in the <code>$invInfo</code> array. If so, we will display it.
					<ul>
						<li>Scroll to the top of the form and find the input for the vehicle make and model.</li>
						<li>Alter the PHP code block to look like this (<strong>Keep in mind your code and variables may be slightly different than what you see here)</strong>:
							<h4>Original Code Block</h4>
<pre class="line-numbers"><code class="language-php">&lt;input type="text" name="invMake" id="invMake" required &lt;?php if(isset($invMake)){ echo "value='$invMake'"; } ?&gt;&gt;
								
&lt;input type="text" name="invModel" id="invModel" required &lt;?php if(isset($invModel)){ echo "value='$invModel'"; } ?&gt;&gt;</code></pre>
							<h4>Altered Code Block</h4>
<pre class="line-numbers"><code class="language-php">&lt;input type="text" name="invMake" id="invMake" required &lt;?php if(isset($invMake)){ echo "value='$invMake'"; } elseif(isset($invInfo['invMake'])) {echo "value='$invInfo[invMake]'"; }?&gt;&gt;
	
&lt;input type="text" name="invModel" id="invModel" required &lt;?php if(isset($invModel)){ echo "value='$invModel'"; } elseif(isset($invInfo['invModel'])) {echo "value='$invInfo[invModel]'"; }?&gt;&gt;</code></pre></li>
						<li>By doing this we have code to display the data from the <code>$invInfo</code> array as well as from a variable if we are sending data back for repair and want the form inputs to be "sticky".</li>
					</ul>
				</li>
				<li>Repeat adding the additional code block to each input and then altering the name of each field from the database so that the value of the <code>$invInfo</code> array can be displayed as well as maintaining the form's stickiness. Remember that this small piece of code is all that was added to the vehicle make and model inputs:
<pre><code class="language-php">elseif(isset($invInfo['invMake']) && isset($invInfo['invModel'])) {echo "value='$invInfo[invMake] $invInfo[invModel]'"; }</code></pre>
					<strong>It may be helpful to open the Inventory table and go to the "structure" tab of PHPMyAdmin to see the various field names as you work.</strong>
				</li>
				<li>If your form includes a <code>textarea</code> then the alteration occurs between the opening and closing tags and there is no "value" attribute. For example, if the original code looked like this:
<pre class="line-numbers"><code class="language-php">&lt;textarea name="invDescription" id="invDescription" required&gt;
&lt;?php if(isset($invDescription)){ echo $invDescription; } ?&gt;&lt;/textarea&gt;</code></pre> 

After editing, it would look like this:
<pre class="line-numbers"><code class="language-php">&lt;textarea name="invDescription" id="invDescription" required&gt;
&lt;?php if(isset($invDescription)){ echo $invDescription; } elseif(isset($invInfo['invDescription'])) {echo $invInfo['invDescription']; }?&gt;&lt;/textarea&gt;</code></pre></li>
				<li>Finally, we need to add the same test to our code that builds the car classification select drop down list.
					<ol>
						<li>Scroll to the top of the view. There should be a code block that was used earlier to determine if the classification was being returned for correction, but add the "selected" attribute so the same classification item was chosen in the drop list. My code looks like this (yours may be different):
<pre class="line-numbers"><code class="language-php">// Build the car classification option list
$classifList = '&lt;select name="classificationId" id="classificationId"&gt;';
$classifList .= "&lt;option&gt;Choose a Classification&lt;/option&gt;";
foreach ($carClassifications as $classification) {
 $classifList .= "&lt;option value='$classification[classificationId]'";
 if(isset($classificationId)){
  if($classification['classificationId'] === $classificationId){
   $classifList .= ' selected ';
  }
 }
$classifList .= "&gt;$classification[classificationName]&lt;/option&gt;";
}
$classifList .= '&lt;/select&gt;';</code></pre></li>
						<li>In this case we will add an additional test using an <code>elseif</code> to check for the <code>$invInfo</code> array and then check if its classificationId value matches the value from the original car classifications query. If true, then the <code>selected</code> attribute will be added to the <code>option</code>.</li>
						<li>Alter the code to look like this:
<pre class="line-numbers"><code class="language-php">// Build the classifications option list
$classifList = '&lt;select name="classificationId" id="classificationId"&gt;';
$classifList .= "&lt;option&gt;Choose a Car Classification&lt;/option&gt;";
foreach ($carClassifications as $classification) {
 $classifList .= "&lt;option value='$classification[classificationId]'";
 if(isset($classificationId)){
  if($classification['classificationId'] === $classificationId){
   $classifList .= ' selected ';
  }
 } elseif(isset($invInfo['classificationId'])){
 if($classification['classificationId'] === $invInfo['classificationId']){
  $classifList .= ' selected ';
 }
}
$classifList .= "&gt;$classification[classificationName]&lt;/option&gt;";
}
$classifList .= '&lt;/select&gt;';</code></pre></li>
					</ol>
				</li>
				<li>Double check that no code errors are being displayed in the page, if there are find and fix	them.</li>
				<li>Save all files.</li>
			</ol>
			<h2>Test, Test, Test</h2>
			<p>In order to test you will have to login to the PHP Motors site as an administrator, then navigate to the vehicle area and click the "Modify" link for a vehicle (any one will do for now). We just want to make sure the data is being retrieved and displayed in our view.</p>
			<ol>
				<li>Run the phpmotors controller.</li>
				<li>In the PHP Motors home page click the "My Account" link and login as an administrator (e.g. username: admin@cit340.net, password: Sup3rU$er)</li>
				<li>In the browser address bar, navigate to the vehicles controller (e.g. http://localhost/phpmotors/vehicles)</li>
				<li>The vehicle management view should appear with the list of vehicles.</li>
				<li>Click one of the "Modify" links.</li>
				<li>The <b>Update Vehicle</b> view should appear and the data for the vehicle should be displayed in the form, including the classification select drop down.</li>
				<li>If it does, you have completed this activity and can move on to the second step in the update process.</li>
				<li>If the data does not appear, or an error is displayed troubleshoot it, get help from members of your learning team, use the discussion board, contact a TA or the professor. But in any case, it needs to be operational in order to move on.
				</li>
			</ol>
		</main>
		<footer>
			<a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by  Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
	</div>
	<script src="/340br/js/prism-coy-dev.min.js"></script>
</body>

</html>