<!doctype html>
<html lang="en">

<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>VS Code Localhost Tutorial | Web Backend Development I</title>
 <meta name="description" content="Configuring VS Code to work in the local XAMPP development environment for CSE 340">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
  <main>
   
    <h1>VS Code Localhost Tutorial</h1>
    <h2 id="req">Prerequisites</h2>
    <p>This tutorial assumes you have:</p>
    <ul>
     <li>Downloaded and installed the most recent version of
      <a title="Download and install VS Code" href="vscode-install.html" target="_blank">VS Code</a>.</li>
     <li>Completed the XAMPP installation and configuration on your own machine.</li>
     <li><a href="clean-htdocs.html" target="_blank" title="Open in a new tab">Cleaned up the HTDOCS folder</a> inside of XAMPP on your local machine.</li>
    </ul>

    <h2>Video Version</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/s_9klp0Qar8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <h2 id="creation">Create a Domain Project</h2>
    <p>A project is a web site for the purposes of this tutorial. It is where all files and folders reside that pertain to a web site. VS Code, like other development tools, then uses its functionality to keep track of those resources and assists you to manage the site as a whole.</p>
    <p>This tutorial takes you through the process of creating a project for your classwork on your local machine.</p>

    <ol>
     <li>Launch VS Code.</li>
     <li>Click the <code>File > Open Folder</code> menu option.</li>
     <li>Navigate to the <b>htdocs</b> folder within the XAMPP folder on your local machine (in the Applications folder on Mac, in the C: drive on Windows).</li>
     <li>Click the "Select Folder" button in the dialog box.</li>
     <li>The htdocs folder will open in the File Manager panel of VS Code on the left and any existing folders or files will appear beneath it and slightly indented.</li>
     <li>All work for our class will occur in this project and location.</li>
     <li>Notice that there are tool buttons to the right of the "htdocs" name that can be used to create new folders or files in the project.</li>
    </ol>
<h2>Test</h2>
<p>At the end of the video a test is shown that you are encouraged to complete to ensure that the environment and tools are setup and working correctly.</p>
   
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png"></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" title="Read the license" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.js"></script>
</body>

</html>
