<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <title>Visual Studio Code Install | Web Backend Development I</title>
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/340br/css/340course-min.css" type="text/css" media="screen">
</head>

<body>
 <div id="wrapper">
  <header><img src="/340br/images/large-banner.jpg" alt="Course Banner"></header>
  <main>
   
    <h1>Visual Studio Code (VS Code)</h1>
    <h2>Introduction</h2>
    <p>Visual Studio Code is a code editor redefined and optimized for building and debugging modern web and cloud applications. It is available for Windows, Mac and Linux and is free and open-source. Do not mistake it for Visual Studio, they are different applications.</p>
    <p>For CSE 340 we use Visual Studio Code. To run your PHP code you will open your browser and go to <a href="http://localhost/phpmotors" target="_blank" title="Go to local project">http://localhost/phpmotors</a> then navigate to the desired file or location using the address bar in your browser. There is an extension that we can add to VS Code that will speed this up, the end result will be the same.</p>
      <p>This document covers three topics:</p>
    <ul style="list-style-type: square;">
     <li><a href="#windows" title="Jump to the Windows installation section">Installation on Windows</a></li>
     <li><a href="#mac" title="Jump to the Mac installation section">Installation on Mac</a></li>
     <li><a href="#overview" title="Jump to the overview section">Overview</a></li>
    </ul>
    <h2 id="windows">Installation on Windows</h2>
    <h3>Video Demonstration</h3>
    <p>This video demonstrates downloading and installing Visual Studio Code for Windows. The demonstration is of an older version of Visual Studio Code so there may be some slight variation to the steps. <mark>Watch the video through the 1:48 mark.</mark></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gD8WhXwLVlU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Steps</h3>
    <ol>
     <li>Open a web browser and enter <a href="http://code.visualstudio.com/" target="_blank" rel="noopener">code.visualstudio.com</a></li>
     <li>Once loaded, click the large green "Download" button on the left to download the installer.</li>
     <li>After the download is complete, launch the installer.</li>
     <li>If presented with the security warning(s) asking if it is OK for the software to change your PC?, proceed by clicking "Yes".</li>
     <li>Click "Next."</li>
     <li>Accept the license agreement and click "Next."</li>
     <li>On the following screens click "Next."</li>
     <li>When you reach the screen with the "Install" button, click it.</li>
     <li>When done, click "Finish" to close the installer.</li>
    </ol>
    <h2 id="mac">Installation on Mac</h2>
    <h3>Video&nbsp;Demonstration</h3>
    <p>This video demonstrates downloading and installing Visual Studio Code for Mac. <mark>Watch the video through the 2:33 mark.</mark></p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tCfbi5PF1y0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h3>Steps</h3>
    <ol>
     <li>Open a web browser and enter <a href="http://code.visualstudio.com/" target="_blank" rel="noopener">code.visualstudio.com</a></li>
     <li>Once loaded, click the large green "Download" button on the left.</li>
     <li>After the download is complete, open the ZIP file.</li>
     <li>The ZIP file contains the "Visual Studio Code" program.</li>
     <li>Drag and drop the program to "Applications."</li>
    </ol>
    <h2 id="overview">Overview</h2>
    <a href="/340br/images/vscode/vscode-interface.png" target="_blank" title="Open full-size diagram"><img src="/340br/images/vscode/vscode-interface.png" alt="VS Code interface image"></a>
    <h3>Welcome Screen</h3> You can open recent folders, settings, etc. <h3>Activity Bar</h3>
    <p><strong>Explorer</strong> - The Explorer area is where you manage the files and subfolders of the currently opened folder.</p>
    <p><strong>Search</strong> - The Search area is where you can search for specific text throughout the open project or open files.</p>
    <p><strong>Debug</strong> - We will not be using this feature of VS Code.</p>
    <p><strong>Extensions</strong> - Add or manage extensions for VS Code.</p>
    <p><strong>Source Control</strong> - The Source Control area is where you can sync files to a version control system (e.g. GitHub or GitLab)</p>
    <p><strong>Docker</strong> - We will not be using this feature of VS Code.</p>
    <h3>Side Bar</h3> 
    <p>Shows the view you selected in the Activity Bar.</p>  
    
    <h3>Editor</h3>
    <p>The most important part of the application is the Editor area on the right side. Here you can open and edit your code files. It’s possible to open up to three files side-by-side. </p>
    <h3>Status Bar</h3>
    <p>The bar at the bottom of the application gives you access to information about the opened project and the open files.</p>
    <p><strong>Errors and Warnings</strong> - Lists the number of errors and warnings currently found in the open project. Clicking it will open the Problems panel which lists the errors and warnings.</p>
    <p><strong>Notification</strong> - A bell icon will appear when new notifications are available. Click it to view them.</p>
    <h3>Panels</h3>
    <p>Here you can choose from four different panel. You need only to concern yourself with the Problems view.</p>  
    <h3>Command Palette</h3>
    <img src="/340br/images/vscode/vscode-command.png" alt="VS Code Command line interface">
    <p>Use Ctrl+Shift+P on Windows or ⌘+Shift+P on Mac to open the palette and start typing the command you want to run. All functions of Visual Studio Code can be accessed here.</p>
    <h3>Quick File Navigation</h3>
    <img src="/340br/images/vscode/vscode-quickfile.png" alt="The quickfile option in VS Code">
    <p>Use Ctrl+P on Windows or ⌘+P on Mac to open the file search dialog. Start typing and you’ll get back a result list with matching file names.</p>

    <h2>Extensions</h2>
    <p>Like most modern tools, VS Code can have additional tools added to it for extending its functionality. There are several extensions that are recommended for working with PHP and Sql in our class. To add these extensions, click on the extensions button and then, type their names in the provided search box. Click on the "Install" button for each tool to add it.</p>
    <ul>
     <li><b>Beautify</b> (by HookyqR) - used to quickly format code for readability.</li>
     <li><b>File Utils</b> (by Steffen Leistner) - adds functionality to the File Manager panel.</li>
     <li><b>PHP Intelephense</b> (by Ben Mewburn) - add PHP code hinting to speed up PHP code writing.</li>
     <li><b>SqlTools</b> (by Matheus Teizeira) - for interacting with databases and writing queries.</li>
     <li><b>Open PHP/HTML/JS in Browser</b> (by PrimaFuture)  - Use to open the current file into the default browser (requires that the local servers be running prior to use).</li>
    </ul>

    <h2>Keyboard Shortcuts</h2>
    <p>Many times tasks can be accomplished using keyboard shortcuts instead of using a mouse. VS Code has a large list of shortcuts that can be found in the <code>Help > Keyboard Shortcut Reference</code> menu. However, it is very large and can be overwhelming.</p>
    <p>Instead, a shorter version has been created that features only those commands (both operating system and VS Code) shortcuts that seem to be used often. <a href="../downloads/code-shortcuts.pdf" title="Download the PDF file for printing of common keyboard shortcuts" target="_blank">Download and print this shortened list of keyboard shortcuts</a> and learn them to save yourself time and energy.</p>
   
  </main>
  <footer>
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by Rebecca Vest and Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>. </footer>
 </div>
</body>

</html>