<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Development Workflow | Web Backend Development I</title>
  <meta name="description" content="Development Workflow for CSE 340">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/340br/css/340course-min.css" media="screen">
</head>

<body>
  <div id="wrapper">
    <header id="header"><img src="/340br/340banner.jpg" alt="CSE 340 Banner Image"></header>
    <main>
      
        <h1>Development Workflow</h1>
        <p>In a live workflow, materials would be developed and tested locally and posted to a production server.
          However, for this class, we will work entirely in a local development environment and not make the developed
          resources available to the rest of the world. Instead, you are to follow this process:</p>
        <ol>
          <li>Build all resources within the <b>acme</b> folder within the <b>htdocs</b> folder.</li>
          <li>Create a meaningful directory (folder) structure within htdocs (e.g. css, images, modules, homework,
            project - while following the web naming rules)</li>
          <li>Place all files (as they are built) inside of the appropriate directory(s).</li>
          <li>Develop the solution as needed and test frequently until operational.</li>
          <li>When preparing to submit work:
            <ol>
              <li>Create a copy of the assessment folder.</li>
              <li>Zip the folder.</li>
              <li>Rename the zip file to reflect the name of the assessment.</li>
              <li>Store the zip file to retrieve later if needed.</li>
              <li>Delete the copy of the htdocs folder.</li>
            </ol>
          </li>
          <li>Make a video of your solution working in your development environment. The video must be narrated and
            explain how the application does what it should. The video should be concise and last no longer than 4
            minutes.</li>
          <h2>Solution Demo</h2>
          <p>The following solution is intentionally not fully functional. It is intended as as demo only for the sake
            of the video demonstration.</p>
          <iframe width="560" height="315" src="//www.youtube.com/embed/JxwmgTdieuc" allowfullscreen></iframe>
          <li>Post your video to your YouTube channel and capture the share link to the video.</li>
          <li>Submit Your Work:
            <ol>
              <li>Go to the appropriate Assignment dropbox in I-Learn.</li>
              <li>Click the dropbox link to open the submission screen.</li>
              <li>Paste the assessment video link into the comments box.</li>
              <li>Click the "Add A File" button.</li>
              <li>Drag the assessment zip file to the drop zone in the pop-up window.</li>
              <li>Click the "Add" button (bottom left corner of the pop-up window.</li>
              <li>Click the "Submit" button (bottom left corner of the assignment window.</li>
            </ol>
          </li>
        </ol>
        <h2>Submission Video</h2>
        <iframe width="560" height="315" src="//www.youtube.com/embed/WAMyBfRjdok" allowfullscreen></iframe>
      
    </main>
    <footer>
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License"
          style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as
      noted) are by Blaine Robertson and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative
        Commons Attribution-ShareAlike 3.0 License</a>.</footer>
  </div>
  <script src="../js/course.min.js"></script>
</body>

</html>